#board {
    position: relative;
    top: 40px;
    left: 100px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;
    width: 300px;  /* Kích thước của bàn cờ */
    height: 300px; /* Kích thước của bàn cờ */
    margin: auto;
}

.square {
    width: 50px;  /* Kích thước của mỗi ô vuông */
    height: 50px; /* Kích thước của mỗi ô vuông */
    background-color: #fff;
}

.piece {
    width: 100%;  /* Quân cờ sẽ chiếm toàn bộ ô vuông */
    height: 100%;  /* Tương tự như trên */
    object-fit: contain;  /* Đảm bảo quân cờ không bị méo */
}

.square.dark {
    background-color: #6b4226;  /* Màu của ô cờ tối */
}

.square.light {
    background-color: #f1d9b5;  /* Màu của ô cờ sáng */
}

.square:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Thay đổi màu nền khi hover */
    cursor: pointer;  /* Hiển thị con trỏ chuột dạng "pointer" khi hover */
}

.square.highlight {
    position: relative;
    background-color: rgba(255, 255, 0, 0.4) !important;
}

.square.selected {
    background-color: rgba(0, 128, 255, 0.4) !important;
}

/* Đối với các ô có quân cờ của đối phương */
.square.highlight::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 100px;
    left: 70px;
    transform: translate(-50%, -50%);
    border: 2px solid #333;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeIn 0.3s;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup.white-turn #turn-text {
    color: black;
    font-weight: bold;
  }
  
  .popup.black-turn {
    background-color: black;
  }

  .popup.black-turn #turn-text {
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
  

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }